## SEPTEMBER, 2023.

In [1]:
# cook your dish here
t = int(input())
for i in range(t):
    X, Y, Z = map(int, input().split())
    print((X*5+Y*10)//Z)

1
10 10 10
15

In [ ]:
# cook your dish here
t = int(input())
for i in range(t):
    N,X = map(int, input().split())
    Z = N*X
    if 10000<=Z<=99999:
        print('YES')
    else:
        print('NO')

In [26]:
u = 'harhiyath'

In [27]:
len(u)

9

In [28]:
i = 0
while i < 8:
    print(i,u[i])
    if u[i] == 't' and u[i+1] == 'h':
        print('Yes')
        break
    i = i + 1
if i == 8:                               
    print('no')

0 h
1 a
2 r
3 h
4 i
5 y
6 a
7 t
Yes

In [10]:
u[8]

'r'

In [16]:
i

8

In [44]:
t = int(input())
for i in range(t):
    N = int(input())
    S = input()
    X = ''
    for i in range(0,N,2):
        if S[i:i+2]=='00':
            X = X + 'A'
        elif S[i:i+2]=='01':
            X = X + 'T'
        elif S[i:i+2]=='10':
            X = X + 'C'
        elif S[i:i+2]=='11':
            X = X + 'G'
    print(X)

1
4
0011
AG

In [45]:
S[0:2]

'00'

In [38]:
X = ''

In [39]:
X = '' + 'A'

In [40]:
X

'A'

In [53]:
t = int(input())
for i in range(t):
    X = input()
    Y = input()
    flag = 0
    for i in range(len(X)):
        if X[i]==Y[i] or X[i]=='?' or Y[i]=='?':
            flag = 1
        else:
            flag = 0
            break
    if flag == 1:
        print('Yes')
    else:
        print('No')

1
stor?
sco??
No

In [63]:
t = int(input())
for i in range(t):
    N = int(input())
    S = input()
    Alice = 0
    Bob = 0
    server = 0
    for i in range(N):
        if server==0 and S[i]=='A':
            Alice += 1
        elif server==0 and S[i]=='B':
            server = 1
        elif server == 1 and S[i]=='B':
            Bob += 1
        elif server == 1 and S[i]=='A':
            server = 0
    print(Alice,'',Bob)

4
3
AAA
3  0
5
BABAB
0  0
5
ABABB
1  1
4
BBBB
0  3

In [ ]:
S[1:3]=='AA'

In [67]:
t = int(input())
for i in range(t):
    S = input()
    flag = 0
    for i in range(len(S)):
        if (S[i]=='a' or S[i]=='e' or S[i]=='i' or S[i]=='o' or S[i]=='u') and (S[i+1]=='a' or S[i+1]=='e' or S[i+1]=='i' or S[i+1]=='o' or S[i+1]=='u') and (S[i+2]=='a' or S[i+2]=='e' or S[i+2]=='i' or S[i+2]=='o' or S[i+2]=='u'):
            flag = 1
            break
        else:
            flag = 0
    if flag == 1:
        print('Happy')
    else:
        print('Sad')

1
abcdeeafg
Happy

In [79]:
t = int(input())
for i in range(t):
    N = int(input())
    D = list(map(int, input().split()))
    flag = 1
    for i in range(N-1):
        if D[i]<=D[i+1]:
            flag = 1
        else:
            flag = 0
            break
    if flag == 1:
        print('Yes')
    else:
        print('No')

1
3
4 6 8
Yes

In [76]:
D

[3, 4, 5]

In [92]:
t = int(input())
for i in range(t):
    N, X = map(int, input().split())
    A = list(map(int, input().split()))
    B = list(map(int, input().split()))
    cost = 0
    i = 0
    while i < N:
        if A[i]>=X:
            cost = cost + B[i]
        i = i + 1
    print(cost)

4
2 20
15 67
10 90
90
3 1
1 2 3
1 2 3
5

KeyboardInterrupt: Interrupted by user

In [ ]:
N

In [83]:
X

20

In [84]:
A

[15, 67]

In [85]:
B

[10, 90]

In [96]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    B = list(map(int, input().split()))
    count = 0
    i = 0
    while i<N:
        if A[i]<=2*B[i] and B[i]<=2*A[i]:
            count = count + 1
        i = i + 1
    print(count)

1
4
1000 1000 1000 1000
400 500 600 1200
0

In [119]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    A = list(set(A))
    i = 0
    lst = []
    while i<2:
        max_ele_index = A.index(max(A))
        a = A.pop(max_ele_index)
        lst.append(a)
        i = i + 1
    print(sum(lst))

1
5
8 2 9 4 9
17

In [98]:
N

5

In [111]:
A = [2, 3, 7, 4, 89]

In [103]:
max(A)

89

In [104]:
A.pop(4)

89

In [113]:
A

[2, 3, 7, 4]

In [114]:
a

89

In [120]:
t = int(input())
for i in range(t):
    sequence = list(map(int, input().split()))
    i = 0
    streak = 0
    while i < len(sequence):
        
        i = i + 1

1
0 1 0 1 0 0 1 1 1 0 0 1 1

In [144]:
sequence
n = len(sequence)

In [145]:
i = 0
one_streak = 0
while i < n:
    temp = 0
    while sequence[i] > 0:
        temp = temp + 1
        i = i + 1
        if i == n:
            break
    if one_streak < temp:
        one_streak = temp
    i = i + 1

In [146]:
n

13

In [143]:
i = 0
one_streak = 0
n = len(sequence)  # Assuming you have defined the length of the sequence

while i < n:
    temp = 0
    while i < n and sequence[i] == 1:
        temp += 1
        i += 1
    if one_streak < temp:
        one_streak = temp
    i += 1

print("The most consecutive 1s in the sequence are:", one_streak)

The most consecutive 1s in the sequence are: 3

In [184]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    B = list(map(int, input().split()))
    def streak(A: list):
        streak = 0
        i = 0
        for i in range(N):
            temp = 0
            while A[i]>0:
                temp = temp + 1
                i = i + 1
                if i==N:
                    break

            if streak<temp:
                streak = temp
        return streak

    if streak(A)>streak(B):
        print('Om')
    elif streak(A) == streak(B):
        print('Draw')
    else:
        print('Addy')

1
6
1 7 3 0 2 13
0 2 3 4 5 0
Addy

In [149]:
N

6

In [150]:
A

[1, 7, 3, 0, 2, 13]

In [151]:
B

[0, 2, 3, 4, 5, 0]

In [178]:
A

[1, 7, 3, 0, 2, 13]

In [185]:
A.sort()

In [186]:
A

[0, 1, 2, 3, 7, 13]

In [189]:
sorted(A, reverse = True)

[13, 7, 3, 2, 1, 0]

In [194]:
N = int(input())
A = []
for i in range(N):
    a = int(input())
    A.append(a)
A.sort()
for i in A:
    print(i)

5
5
8
4
2
4
2
4
4
5
8

In [193]:
A.sort()

In [195]:
t = int(input())
S = []
for i in range(t):
    N = int(input())
    S = list(map(int, input().split()))
    S.sort()
    min_diff = max(S)-min(S)
    for i in range(1,N):
        if S[i]-S[i-1] < min_diff:
            min_diff = S[i]-S[i-1]
    print(min_diff)

1
5
4 9 1 32 13

In [203]:
abs(-2)

2

In [205]:
min_diff

31

In [211]:
t = int(input())
for i in range(t):
    N,X = map(int, input().split())
    A = list(map(int, input().split()))
    A.sort(reverse=True)
    print(A[X-1]-1)

1
4 1
5 1 7 4

In [213]:
A

[1, 4, 5, 7]

In [214]:
A.sort(reverse = True)

In [215]:
A

[7, 5, 4, 1]

In [218]:
t = int(input())
for i in range(t):
    N,M = map(int, input().split())
    P = list(map(int, input().split()))
    P.sort(reverse=True)
    sum = 0
    i = 0
    while i < N:
        sum = sum + P[i]
        if sum >= M:
            print(i+1)
            break
        i = i + 1
    if sum < M:
        print(-1)

1
4 13
3 5 7 2

In [227]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    A.sort(reverse=True)
    i = 0
    sum = 0
    while i < N:
        if i%2==0:
            sum = sum + A[i]
        i = i + 1
    print(sum)

1
3
1 2 3
1 2
2

In [ ]:
t = int(input())
for i in range(t):
    X,Y = int(input())
    ans1 = 1500 - 2*X - 4*(X+Y)
    ans2 = 1500 - 2*(X+Y) - 4*(Y)
    print(max(ans1,ans2))

In [ ]:
t = int(input())
for i in range(t):
    N,X,P = map(int, input().split())
    marks = 3*X - (N-X)
    if marks >= P:
        print('PASS')
    else:
        print('FAIL')

In [9]:
t = int(input())
for i in range(t):
    A,B,C,D = map(int, input().split())
    if A == 180 - C and B == 180 - D:
        print('YES')
    else:
        print('NO')

1
45 165 170 10
NO

In [ ]:
t = int(input())
for i in range(t):
    N = int(input())
    A = N/10
    print(math.ceil(A))

In [5]:
33//10

3

In [10]:
import math
math.ceil(5.3)

6

In [11]:
round(2.0)

2

In [14]:
# cook your dish here
t=int(input())
while(t>0):
    n=int(input())
    x = n - n//5
    print(x)
    t = t - 1

3
2
5
4

In [13]:
12//5

2

In [ ]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    count = 0
    
    for i in A:
        if 10 <= i <= 60:
            count += 1
    print(count)