## SEPTEMBER, 2023

In [28]:
A,B = map(int, input().split())

2 3

In [29]:
print(A,B)

2 3

In [30]:
t = int(input())
for i in range(t):
    N = int(input())
    print(N)

3
1
1
22
22
33
33

In [ ]:
t = int(input())
for i in range(t):
    A, B = map(int,input().split())
    C, D, E = map(int,input().split())
    print(A, B, C, D, E)

In [ ]:
t = int(input())
for i in range(t):
    #Accept 2 integers inputs
    A, B = map(int,input())     
    #Sum of inputs
    S = A + B               
    #Product of inputs
    P = A * B               
    #Print the desired output for each test case
    print(S,P)

In [35]:
# Update the '_' below to solve the problem

t = int(input())
for i in range(t):
    #Accept 2 integers as inputs. Note that A >= B and A is divisble by B.
    A, B = map(int,input().split())     
    #Difference of inputs
    D = A - B               
    #Division of inputs
    Q = A / B               
    #Print the desired output for each test case      
    print(D,Q)

1
10 5
5 2.0

In [ ]:
# Update the '_' in the code below to solve this problem

t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    print((A - B), (B - A), abs(A - B), abs(B - A))

In [39]:
# Step 1: Read and understand the problem statement and sample test cases

# Click on 'Next' once you are ready to proceed.
t = int(input())
for i in range(t):
    A, C = map(int, input().split())
    
    print((A + C)/2)

3
3 5
4.0
6 6
6.0
2 7
4.5

In [40]:
type(4.0)

float

In [41]:
int(3.5)

3

In [65]:
def is_integer_solution(A, B):
    return (A + B) % 2 == 0

A = int(input())
B = int(input())
c = (A + B)/2
if is_integer_solution(A, B):
    print(int(c))
else:
    print(-1)

2
4
3

In [ ]:
# Update the program below to solve the problem

t = int(input())            
for i in range(t):          
    A, C = map(int, input().split())
    B = int((A + C)/2)
    if A%2 == 0 and C%2 == 0:
        print(B)
    elif A%2 != 0 and C!= 0:
        print(B)
    else:
        print(-1)

In [68]:
3 - X%3

2

In [76]:
t = int(input())
for i in range(t):
    N, M = map(int, input().split())
    if M>N: print(N)
    else:    
        print(2 * N  - M)

3
2 4
2
6 0
12
4 3
5

In [77]:
sample_list = [5, 3, 2, 4, 1]

In [78]:
print(sample_list)

[5, 3, 2, 4, 1]

In [80]:
sample_list[3]

4

In [81]:
sample_list[-3]

2

In [82]:
sample_list[1:4]

[3, 2, 4]

In [83]:
sample_list.append(6)

In [84]:
sample_list

[5, 3, 2, 4, 1, 6]

In [85]:
sample_list.sort()

In [86]:
sample_list

[1, 2, 3, 4, 5, 6]

In [87]:
sample_list.pop(2)

3

In [88]:
sample_list

[1, 2, 4, 5, 6]

In [89]:
sample_list + sample_list

[1, 2, 4, 5, 6, 1, 2, 4, 5, 6]

In [94]:
t = int(input())
for i in range(t):
    N = int(input())
    A = []
    for i in range(N):
        A.append(i+1)
    print(A)
    print(*A)

1
5
[1, 2, 3, 4, 5]
1 2 3 4 5

In [93]:
print(*A)

1 2 3 4 5

In [98]:
A.sort(reverse=True)

In [99]:
A

[5, 4, 3, 2, 1]

In [101]:
N, k = map(int, input().split())
A = list(map(int, input().split()))
pos = 0
neg = 0
divk = 0
i = 0
while i < len(A):
    if A[i] > 0:
        pos += 1
    elif A[i] < 0:
        neg += 1
    if A[i]%k == 0:
        divk += 1
    i += 1
print(A, pos, neg, divk)

7 2
-5 -3 -2 0 1 3 5
[-5, -3, -2, 0, 1, 3, 5] 3 3 2

In [102]:
N = int(input())
A = list(map(int, input().split()))

5
2 3 4 5 6

In [103]:
A

[2, 3, 4, 5, 6]

In [ ]:
# this code has some logical error - debug this code to solve the problem

t = int(input())
for i in range(t):
    n = int(input())
    A = list(map(int,input().split()))
    
    count_neg = 0
    count_zero = A.count(0)
    
    if count_zero > 0:
        print(0)
    else:
        i = 0
        while i<n:
            if A[i] < 0:
                count_neg = count_neg + 1
            i = i + 1
        
        if count_neg%2 != 0:
            print(1)

In [58]:
A = [1,2,3,5,0,-5,-7,0]

In [26]:
del(A[2])

In [ ]:
count_neg = 0


if A.count(0) > 0:
    print(0)
else:
    i = 0
    while i < n:
        if A[i]<0:
            count_neg += 1
        i = i + 1

    if count_neg%2 == 0:
        print(0)
    else:
        print(1)

In [37]:
A

[1, 2, 5, 0, -5, -7, 0]

In [30]:
A.count(-5)

1

In [36]:
for i in A:
    print(i)

1
2
5
0
-5
-7
0

In [41]:
min(A)

-7

In [42]:
A

[2, 5, 0, -5, -7, 0]

In [43]:
min(A)

-7

In [59]:
A

[1, 2, 3, 5, 0, -5, -7, 0]

In [60]:
min(A)

-7

In [67]:
A = [1,2,3,5,0,0]

In [73]:
index_of_min = A.index(min(A))
A[0] = A[index_of_min]

In [74]:
A

[0, 1, 2, 3, 5, 0]

In [71]:
A[0]=A[3]

In [72]:
A

[3, 1, 2, 3, 5, 0]

In [75]:
# Update the '_' in the code below to solve the problem

t = int(input())
for i in range(t):
    A = list(map(int,input().split()))
    N = len(A)
    
    # We first find the smallest element, and which index it is in.
    minElement = A[0]
    minElementIndex = 0
    i = 1
    while i < N:
        if A[i] < minElement:
            # If we find an element smaller than the previous smallest, we update
            minElement = A[i]
            minElementIndex = i
        i = i + 1
    
    #We are starting the operation from index of the smallest element
    i = minElementIndex
    while i > 0:
        #Swap the A[i] and A[i-1]
        A[i],A[i-1] = A[i-1], A[i]      
        i = i - 1
    
    print(*A)

1
5 2 4 1 3
1 5 2 4 3

In [86]:
t = int(input())
for i in range(t):
    A = list(map(int, input().split()))
    N = len(A)
    
    min_ele = A[0]
    min_ele_index = 0
    i = 0
    while i < N:
        if A[i] < min_ele:
            min_ele = A[i]
            min_ele_index = i
            
        i = i + 1
        
        
        
        j = min_ele_index
    while j > 0:
        A[j], A[j-1] = A[j-1], A[j]
        
        j = j-1
        
    print(*A)

1
5 2 4 1 3
1 5 2 4 3

In [80]:
A[3], A[2] = A[2], A[3]

In [78]:
A[3] = A[2]

In [81]:
A

[5, 2, 4, 4, 3]

In [92]:
t = int(input())
for i in range(t):
    A = list(map(int, input().split()))
    n = len(A)
    max_ele = A[0]
    max_ele_index = 0
    i = 0
    while i < n:
        if max_ele <= A[i]:
            max_ele = A[i]
            max_ele_index = i
        i += 1
    print(max_ele, max_ele_index)

1
-1 -3 -7
-1 0

In [88]:
A

[5, 2, 4, 1, 3]

In [89]:
n

5

In [102]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int,input().split()))
    unique = []
    freq = []

1
6
3 -3 3 -2 3 -7

In [103]:
A

[3, -3, 3, -2, 3, -7]

In [117]:
set(A)

{-7, -3, -2, 3}

In [118]:
B = []

In [119]:
B = list(set(A))

In [120]:
B

[-7, 3, -3, -2]

In [125]:
C = [3, -3, 3, -2, 3, -7]

In [127]:
D = list(set(C))

In [129]:
D.sort()

In [130]:
D

[-7, -3, -2, 3]

In [131]:
A

[3, -3, 3, -2, 3, -7]

In [132]:
A.count(3)

3

In [134]:
for i in D:
    print(i)

-7
-3
-2
3

In [150]:
t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    unique = []
    freq = []
    unique = list(set(A))
    unique.sort()

    for i in unique:
        freq.append(A.count(i))
    
    print(*unique) 
    print(*freq)

1
6
3 -3 3 -2 3 -7
[-7, -3, -2, 3]
-7 -3 -2 3
1 1 1 3

In [158]:
A = [1,2,3,4,5,6]

In [143]:
A.count(-7)

1

In [162]:
if 6 == A[5]:
    print('Y')
else:
    print('N')

Y

In [160]:
A.index(6)

5

In [191]:
# Update the code below to solve the problem

t = int(input())
for i in range(t):
    N = int(input())
    A = list(map(int, input().split()))
    hol = [6,7,13,14,20,21,27,28] 
    
    for element in hol:
        
        if element in A:
            A.pop(A.index(element))
            
    
    print(len(hol) + len(A))

1
2
6 13
8

In [168]:
hol

[6, 7, 13, 14, 20, 21, 27, 28]

In [169]:
A

[5, 7]

In [172]:
len(hol)

8

In [185]:
A = [6,13]

In [177]:
A.pop()

13

In [178]:
A

[6]

In [179]:
A.pop()

6

In [180]:
A

[]

In [181]:
len(A)

0

In [187]:
A.pop(0)

6

In [188]:
A

[13]

### Basic string operations

In [195]:
#Update the code below to solve this problem

t = int(input())
for i in range(t):
    S = str(input())
    A = S
    # Write the code below this line to generate String A
    
    B = ""
    # Write the code below this line to generate String B
    B = A[::-1]
    print(A)
    print(B)

1
shivam
shivam
mavihs

In [10]:
t = int(input())
for i in range(t):
    A = input()
    B = input()
    
    count1 = 0
    count2 = 0
    count3 = 0
    
    for i in range(len(A)):
        if A[i] == '1':
            count1 += 1
            
        if B[i] == '1':
            count2 += 1
        
        if A[i] == B[i]:
            count3 += 1
    
    print(count1,count2,count3)

2
10001
10000
2 1 4
10101
00110
3 2 2

In [16]:
t = int(input())
for i in range(t):
    A = input()
    i = 0
    flag = 0
    
    while i < len(A):
        if A[i] == '0' or A[i] == '5':
            flag = 1
            break
        
        i = i + 1
    if flag == 1:
        print('Yes')
    else:
        print('No')

1
12346
No

In [19]:
t = int(input())
for i in range(t):
    S = input()
    A = []
    for i in S:
        A.append(ord(i))
    print(*A)

3
abc
97 98 99
MXZ
77 88 90
mxz
109 120 122

In [21]:
t = int(input())
for i in range(t):
    A = input()
    B = input()
    if A == B[::-1]:
        print('YES')
    else:
        print('NO')

1
1005
5001
YES

In [24]:
# Update the code below to solve the problem

t = int(input())
for i in range(t):
    S = input()
    T = input()
    M = ""
    for i in range(len(S)):
        if S[i] == T[i]:
            M = M + 'G'
        else:
            M = M + 'B'
    print(M)

1
ABCDE
EDCBA
['B', 'B', 'G', 'B', 'B']

In [35]:
M = ""

In [36]:
M = M + 'G'

In [38]:
M

'G'

In [40]:
if M == 'G' or 'B' or 'C' :
    print('Yes')

Yes

In [41]:
S = 'abcdeeafgh'

In [47]:
S[i:i+3] == 'a'

False

In [45]:
i = 0

In [62]:
t = int(input())
for i in range(t):
    S = input()
    ans = 'Sad'
    if len(S) > 2: 
        for i in range(len(S)-2):
            if (S[i] == 'a' or S[i] == 'e' or S[i] ==  'i' or S[i] ==  'o' or S[i] ==  'u') and (S[i+1] == 'a' or S[i+1] == 'e' or S[i+1] == 'i' or S[i+1] == 'o' or S[i+1] == 'u') and (S[i+2] == 'a' or S[i+2] == 'e' or S[i+2] == 'i' or S[i+2] == 'o' or S[i+2] == 'u'):
                ans = 'Happy'                              
                
            print(ans)                                                  
                                                                                                 
            
    else:                                               
        print(ans)

1
abcaae
a b c Sad
b c a Sad
c a a Sad
a a e Happy

### Continuation of basic math

In [66]:
t = int(input())
for i in range(t):
    n = int(input())
    for i in range(1,n+1):
        if n%i == 0:
            print(i)

1
12
1
2
3
4
6
12

In [64]:
n

12

In [65]:
i

0

In [68]:
t = int(input())
for i in range(t):
    N = input()
    lst = []                                         
    for i in N:
        lst.append(i)
    print(*lst)

1
123456
1 2 3 4 5 6

In [3]:
n = int(input())

1234

In [4]:
n

1234

In [6]:
n = n//10

In [8]:
n//10

12

In [11]:
# Update the code below to solve the problem                 

t = int(input())
for i in range(t):
    n = int(input())
    #list to hold all integers of the number
    final_ans = []          
    
    while n>0:
        #insert the last digit of n the start of the list
        final_ans.insert(0, (n%10))     
        #update n as n//10 - removes the last digit of n
        n = n//10          
    
    print(*final_ans)

1
1234
1 2 3 4

In [13]:
# Update the '_' in the code below to solve the problem

t = int(input())
for i in range(t):
    #declare N as a string instead of an integer
    N = (input())        
    
    #list to hold all digits of the number
    final_ans = []          
    
    #useful string syntax
    for i in N:             
        final_ans.append(i)
        
    print(*final_ans)

1
1234
1 2 3 4

In [18]:
import math

In [21]:
math.log(16)/math.log(2)

4.0

In [36]:
t = int(input())
for i in range(t):
    A, B = map(int,input().split())
    if A == B: print('YES')
    
    elif A < B:
        while  A < B:
            A = A * 2
            if A == B:
                print('YES')
                break
            if A > B:
                print('NO')
    else: 
        while  B < A:
            B = B * 2
            if B == A:
                print('YES')
                break
            if B > A:
                print('NO')

1
1 3
NO

# *

In [ ]:
#Update the '_' in the code below to solve the problem

t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    
    #Declare variables for lower and higher of the 2 numbers                                   
    minAB = min(A,B)        
    maxAB = max(A,B)
    flag = 0
    
    while minAB <= maxAB:
        #condition is met, hence set flag = 1
        if minAB == maxAB:  
            flag = 1
            break
        else:
            #update the minimum value as per the problem statement
            minAB = minAB * 2 
        
    if flag == 1:
        print('YES')
    else:
        print('NO')

In [40]:
# Update the code below to solve the problem

t = int(input())
for i in range(t):
    t1, t2, r1, r2 = map(int,input().split())
    if (t1**2)/(t2**2) == (r1**3)/(r2**3):
        print('Yes')
    else:
        print('No')

1
1 1 1 1
Yes

In [52]:
t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    n = 1               
    while n > 0: 
        if A == 0: 
            print(B)  
            break 
           
        else: 
            A = B % A 
            B = A

1
2 8
0

In [47]:
B = 11

In [48]:
A = 5

In [53]:
n,m = 9,6

In [63]:
t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    orA = A
    orB = B
    while A>0 and B>0:
        if B>A: B = B%A
        else:
            A = A%B
        
    if A==0: hcf = B
    else:
        hcf = A
    
    lcm = (orA*orB)//(hcf)
    
    print(hcf,lcm)

1
24 32
8 96

In [62]:
# Update the '_' in the code below to solve the problem

t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    
    # Create an empty list
    divisors_AandB = []     
    i = 1
    while i <= min(A,B):
        #divides both A and B
        if A%i == 0 and B%i == 0:   
            #append the integer to the list
            divisors_AandB.append(i)    
        i = i + 1
    
    #gcd is the greatest common divisor
    gcd = max(divisors_AandB)
    #math property
    lcm = (A*B)//(gcd)
    
    print(gcd, lcm)

0

In [66]:
# Update the '_' in the code below to solve the problem

t = int(input())
for i in range(t):
    A, B = map(int, input().split())
    
    # Create an empty list
    divisors_AandB = []     
    i = 1
    while i <= min(A,B):
        #divides both A and B
        if A%i == 0 and B%i == 0:   
            #append the integer to the list
            divisors_AandB.append(i)    
        i = i + 1
    
    #gcd is the greatest common divisor
    gcd = max(divisors_AandB)
    #math property
    lcm = (A*B)//(gcd)
    
    print(gcd, lcm)

1
4 9
4 1 0
9 1 0
4 2 0
9 2 1
4 3 1
9 3 0
4 4 0
9 4 1
1 36

In [69]:
t = int(input())
for i in range(t):
    A,B = map(int, input().split())
    i = 1
    lst = []
    while i <= min(A,B):
        if A%i == 0 and B%i == 0:
            lst.append(i)
        i = i + 1
    hcf = max(lst)
    print(hcf)

1
4 9
1

In [70]:
import math

In [71]:
math.sqrt(4)

2.0

In [72]:
math.gcd(4,36)

4

In [73]:
math.floor(1.89)

1

In [80]:
math.ceil(1.29)

2

In [82]:
math.pow(6,2)

36.0

In [103]:
t = int(input())
for i in range(t):
    N = int(input())
    
    flag = 0
    for X in range(N):
        for Y in range(N):
            if N == 2*X + 7*Y:
                flag = 1
                break
    if flag == 1:
        print('YES')
    else:
        print('NO')

1
2
YES

In [104]:
t = int(input())
for i in range(t):
    N = int(input())
    if (N - 7*Y) and %2 == 0:
        print('YES')
    else: 
        print('NO')

4
2
YES
5
NO
7
NO
11
NO

In [107]:
# Solution as follows

t = int(input())
for i in range(t):
    N = int(input())
    
    if N == 1 or N == 3 or N == 5:
        print('NO')
    else:
        print('YES')

1
9
YES

In [ ]:
# The code below is incorrect. Debug the code to solve the problem

t=int(input())
for i in range(t):
    a, b = map(int, input().split())
    if a%3==0 or b%3==0:
        print(0)
    else:
        if abs(a-b)%3==0:
            print(1)
        else:
            print(2)

In [112]:
t = int(input())
for i in range(t):
    N,M = map(int, input().split())
    gcd = math.gcd(N,M)
    print(gcd)

3
1 5
1
2 4
2
4 6
2