# 1. Expressions

In [2]:
x = 5
if x<10:
    print('smaller')
if x>20:
    print('larger')
print('finis')

smaller
finis

In [3]:
x=2
print(x)
x=x+2          
print(x)

2
4

In [9]:
n=5
while n>0:
    n=n-1
    print(n)
print('blastoff')

4
3
2
1
0
blastoff

In [16]:
hours=32
rate=12.25
pay=hours*rate
print(pay)

392.0

In [19]:
x=0.6
x=3.9*x*(1-x)
print(x)

0.9359999999999999

In [23]:
xx=1
type(xx)

temp = 98.6
type(temp)
type(1)
type(1.0)

float

In [28]:
print(float(99)+100)
i = 42
type(i)
f = float(i)
print(f)
type(f)

199.0
42.0

float

In [35]:
sval='123'
type(sval)
ival = int(sval)
type(ival)
print(ival +1)
nsv = 'Hello Bob'
niv = int(nsv)

124

ValueError: invalid literal for int() with base 10: 'Hello Bob'

In [37]:
nam = input('Who are you? ')
print('Welcome', nam)

Who are you? Shivam
Welcome Shivam

In [40]:
eur = input('which floor?')
us = int(eur) + 1
print('US floor',us)

which floor?0
US floor 1

# 2. Conditional Execution

In [41]:
x=5
if x == 5:
    print('x is equal to 5')
if x>4:
    print('x greater than 4')
if x>=5:
    print('x is greater or equal to 5')
if x<6:
    print('Less than 6')
if x<=5:
    print('less than or equal to 5')
if x!=6 :
    print('x is not equal to 6')

x is equal to 5
x greater than 4
x is greater or equal to 5
Less than 6
less than or equal to 5
x is not equal to 6

In [3]:
try:
    eur='Hello bob'
    istr=int(eur)
    print(istr)
except:
    istr=-1
    print('all done')

all done

In [8]:
eur=input('Enter a number: ')
try:
    us=int(eur)
    
except: 
    us=-1

if us>=0:
    print('Nice work')
else:
    print('Not a number')

Enter a number: 23
Nice work

# Functions

In [11]:
x=5
print('Hello')

def print_lyrics():
    print('Duniy')
    print('Thod')

print('yo')
x=x+2
print(x)

Hello
yo
7

In [12]:
print_lyrics()

Duniy
Thod

In [33]:
def greet(lang):
        
    if lang == 'es':
        return 'Hola'
        
    elif lang == 'fr':
        return 'Bonjour'
    else :
        return 'Hello'
print(greet('es'),'Gwenn')
print(greet('en'),'Stacy')

Hola Gwenn
Hello Stacy

In [36]:
def addtwo():
    a=int(input('Enter a: '))
    b=int(input('Enter b: '))      
    return a + b
addtwo()

Enter a: 2
Enter b: 3

5

In [43]:

def simpleArraySum(ar):
    ar = list()
    n = int(input('Size '))
    for i in range(0,n):
        ele=int(input())
        ar.append(ele)
    Sum=sum(ar)
    return Sum
simpleArraySum(ar)

NameError: name 'ar' is not defined

In [46]:
    ar = list()
    n = int(input('Size '))
    for i in range(0,n):
        ele=int(input())
        ar.append(ele)
    Sum=sum(ar)
    print(Sum)

Size 2
2
3
5

In [48]:
while True:
    line=input('>')
    if line == 'done':
        break
    print(line)
print('All done')

>Hello
Hello
>sf
sf
>yoo
yoo
>done
All done

In [50]:
while True:
    eur=input('>')
    if eur=='done':
        break
    print(eur)
print('All done')

>f
f
>s
s
>done
All done

In [56]:
while True:
    eur=input('>')
    if eur[0]=='#':
        continue
    if eur=='done':
        break
    print(eur)
print('All done')

>oy
oy
>hi
hi
>#bruh
>done
All done

In [57]:
for i in [5,4,3,2,1,0]:
    print(i)
print('blastoff')

5
4
3
2
1
0
blastoff

In [62]:
friends=['Shivam', 'Harshit', 'Saquib']
for friend in friends:
    print('Happy new year',friend)

Happy new year Shivam
Happy new year Harshit
Happy new year Saquib

In [64]:
print('Before')
for i in [9,8,7,6,5,4,3,2,1,0]:
    print(i)
print('after')

Before
9
8
7
6
5
4
3
2
1
0
after

In [74]:
the_largest_number=-1
print('Before',the_largest_number)
for i in [1,2,9,77,21,32,51,12,45,101]:
    
    print(i)
    if i>=the_largest_number:
        
        the_largest_number=i
    print('>',the_largest_number)

Before -1
1
> 1
2
> 2
9
> 9
77
> 77
21
> 77
32
> 77
51
> 77
12
> 77
45
> 77
101
> 101

In [75]:
zork = 0
for i in [4,56,76,3,21,11]:
    zork = zork + 1
    print(zork,i)

1 4
2 56
3 76
4 3
5 21
6 11

In [76]:
zork=0
for i in [12,34,55,66,72]:
    zork=zork+i
    print(zork,i)

12 12
46 34
101 55
167 66
239 72

In [78]:
sum=0
count=0
for i in [12,34,55,66,72]:
    sum = sum + i
    count = count + 1
    print(sum/count,i)

12.0 12
23.0 34
33.666666666666664 55
41.75 66
47.8 72

In [81]:
for i in [12,34,55,66,72]:
    if i>20:
        print('Large number',i)

Large number 34
Large number 55
Large number 66
Large number 72

In [82]:
[12,34,55,66,72]

[12, 34, 55, 66, 72]

In [85]:
found = False
for i in [12,34,3,55,66,72]:
    if i == 3:
        found = True
    print(i,found)

12 False
34 False
3 True
55 True
66 True
72 True

In [89]:
lsf=-1
for i in [12,34,3,55,66,72]:
    if i>lsf:
        lsf=i
    print(lsf)

12
34
34
55
66
72